
.data0.chart-bar {
    -fx-background-color: #cd70ff;
}

.data1.chart-bar {
    -fx-background-color: #209cee;
}

.data2.chart-bar {
    -fx-background-color: #22c65b;
}

.data3.chart-bar {
    -fx-background-color: #ffdd57;
}

.data4.chart-bar {
    -fx-background-color: #ff3860;
}

.data5.chart-bar {
    -fx-background-color: #cdcdcd;
}

.data0.chart-pie {
    -fx-pie-color: #cd70ff;
}

.data1.chart-pie {
    -fx-pie-color: #209cee;
}

.data2.chart-pie {
    -fx-pie-color: #22c65b;
}

.data3.chart-pie {
    -fx-pie-color: #ffdd57;
}

.data4.chart-pie {
    -fx-pie-color: #ff3860;
}

.data5.chart-pie {
    -fx-background-color: #cdcdcd;
}
